* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Helvetica Neue", sans-serif;
}

body {
  color: #000000;
  background-image: url("../images/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 90%;
}

p {
  font-size: 2.5em;
  font-weight: bold;
}

.paragraph {
  margin-top: 25%;
  margin-left: 20%;
  background-color: #ffffff;
  padding: 2%;
}

.counter {
  margin-top: 3%;
  margin-left: 20%;
  margin-bottom: 20%;
  padding: 2%;
  background-color: #ffffff;
}

.clue {
  padding: 3%;
  margin-top: 7%;
  margin-left: 20%;
  margin-bottom: 2%;
  background-color: #ffffff;
}

.kiss img {
  width: 100%;
  height: auto;
}

.kiss {
  width: 8%;
  height: auto;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .paragraph {
      margin-top: 25%;
      margin-left: 20%;
      background-color: #ffffff;
      padding: 5%;
    }

    .counter {
      margin-top: 3%;
      margin-left: 20%;
      margin-bottom: 20%;
      padding: 5%;
      background-color: #ffffff;
    }

    .clue {
      padding: 5%;
      margin-top: 5%;
      margin-left: 20%;
      margin-bottom: 2%;
      background-color: #ffffff;
    }

    .kiss {
      width: 25%;
      height: auto;
    }

}
